@import "../../styles/mixins/index.scss";

.header {
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px 0;
  transition: background-color 0.3s;
  width: 100%;
  z-index: 100;
  background-color: var(--black);
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    transition: width 3s;
  }
  &__phone {
    font-size: 18px;
    color: var(--white);
    @include sm {
      display: none;
    }
  }
  &__nav {
    @include xl {
      order: 4;
    }
  }
}

.menu {
  display: flex;
  gap: 40px;
  @include xxl {
    gap: 20px;
  }
  &__link {
    color: var(--white);
    font-size: 18px;
    transition: 0.3s;
    &:hover {
      color: var(--yellow);
    }
  }
  @include xl {
    gap: 20px;
  }
  @include xl {
    flex-direction: column;
    position: absolute;
    gap: 16px;
    top: 34px;
    display: none;
    z-index: 1000;
    &__open {
      display: flex;
      width: 100%;
      left: 0;
      top: 60px;
      padding-inline-start: 20px;
      background-color: var(--menu-bg-mobile);
      height: 100vh;
      padding-block-start: 20px;
      padding-block-end: 20px;
      overflow: auto;
    }
  }
}

.burger {
  &__btn {
    cursor: pointer;
    display: none;
    background: none;
    @include xl {
      display: block;
      height: 24px;
      width: 30px;
    }
  }
  &__icon {
    display: block;
    background-color: var(--white);
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    position: absolute;

    &:before {
      @extend .burger__icon;
      content: "";
      margin-top: -8px;
    }
    &::after {
      @extend .burger__icon;
      content: "";
      margin-top: 8px;
    }
    &_open {
      background: transparent;
      &::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      &::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
    }
  }
}

.cart {
  position: relative;
  &__count {
    position: absolute;
    bottom: -4px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: var(--orange);
    border-radius: 50%;
    font-size: 12px;
  }
}
