@import "../mixins/index.scss";

:root {
  --black: #111111;
  --white: #ffffff;
  --yellow: #FFEE00;
  --orange: #FCB500;
  --gray: #ADADAD;
  --red: #c84f4f;
  --menu-bg-fixed: #111111;
  --menu-bg-mobile: #111111;
}

html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1320px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  @include xl {
    max-width: initial;
    width: 100%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.text-orange {
  color: var(--orange);
}