@import'../../../../styles/mixins/index.scss';

.intro {
  position: relative;
  min-height: 100vh;
  background-image: url("../../../../assets/img/intro/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: calc(96px + 80px) 0 96px;
  @include sm {
    padding: calc(40px + 80px) 0 40px;
    min-height: initial;
    text-align: center;
  }
  &__wrap {
    position: relative;
    z-index: 10;
  }
  &__title {
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    color: var(--white);
    margin-bottom: 24px;
    animation-name: fadeInLeft;
    animation-duration: 2s;
    @include xl {
      font-size: 70px;
      line-height: 70px;
    }
    @include sm {
      font-size: 36px;
      line-height:46px;
    }
  }
  &__desc {
    font-size: 24px;
    max-width: 672px;
    margin-bottom: 120px;
    @include sm {
      margin-bottom: 40px;
    }
  }
  &__sub-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
    @include sm {
      font-size: 28px;
    }
  }
  &__vitamin {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(28vh);
    animation-name: fadeIn;
    animation-duration: 2s;
    @include xl {
      max-width: 500px;
      transform: translateY(20vh);
    }
    @include sm {
      display: none;
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-50px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}