@import'../../../../styles/mixins/index.scss';

.order {
    background-color: var(--black);
    padding: 112px 0;
    color: var(--white);
    @include md {
        padding: 40px 0;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 84px;
        @include lg {
            font-size: 38px;
            margin-bottom: 40px;
        }
        @include sm {
            font-size: 28px;
            margin-bottom: 20px;
        }
        &_orange {
            color: var(--orange);
            font-weight: 700;
        }
    }
    &__wrap {
        display: flex;
        gap: 110px;
        justify-content: center;
        text-align: center;
        @include lg {
            gap: 32px;
        }
        @include md {
            flex-direction: column;
        }
    }
    &__item {
        img {
            margin-bottom: 70px;
            @include md {
                margin-bottom: 20px;
            }
        }
    }
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 48px;
    margin-bottom: 60px;
    @include md {
        font-size: 32px;
        margin-bottom: 20px;
    }
    &_old {
        font-size: 36px;
        color: var(--gray);
        text-decoration: line-through;
    }
}

.buy {
    @include md {
        order: 3;
    }
    &__text {
        &_free {
            margin-top: 44px;
            margin-bottom: 8px;
            font-size: 36px;
            @include md {
                font-size: 28px;
            }
        }
        &_special {
            font-size: 24px;
            color: var(--orange);
        }
    }
    &__btn {
        margin-top: 64px;
        background-color: var(--orange);
        width: 256px;
        height: 56px;
        border-radius: 7px;
        font-size: 17px;
        transition: background-color 0.3s;
        &:hover {
            background-color: var(--white);
        }
    }
}
